@import "tailwindcss";

:root {
  --background: #080808;
  --foreground: #d8d8d8;
  --highlight: #2ced0c;
  --dark-highlight: #0f3109;
  --chart-background: #000000;
  --chart-foreground: #ffffff;
  --red: #e64640;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-highlight: var(--highlight);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 5px;
}

.highlight {
  color: var(--highlight);
}

.dark-highlight {
  color: var(--dark-highlight);
}

.title {
  color: var(--highlight);
  font-size: 120%;
}

.chart-container {
  width: 100%;
  height: 80vh;
  padding: 2px;
  margin: 8px 2px;
  border-width: 1px;
  border-color: var(--dark-highlight);
  background-color: var(--chart-background);
}

.red {
  color: var(--red);
}

select {
  border: 1px solid var(--dark-highlight);
  border-radius: 4px;
  padding: 2px;
  background: var(--chart-background);
  color: var(--highlight);
}

button.nav-button {
  border-radius: 100%;
  padding: 10px;
  color: var(--highlight);
  background: var(--dark-highlight);
  font-weight: 400;
}